<div id="big_container">
    <div id="fdw_cont">
      <div style="padding-top: 30px; padding-left: 30px;" class="starters">
      <img width="50px" height="50px" src="assets/img/output-onlinejpgtools-removebg-preview.png">
      <h1 style="margin-top: 30px; padding-left: 30px;" class="hero-title mt-0">Online Resume Builder</h1>
      <p>Our platform is designed with simplicity providing to students like you 
          access to various templates.</p>
          <p>Each template is crafted to showcase your academic achievements, skills, and experiences in the best light possible.
          <p>Whether you're applying for internships, part-time roles, or your first job out of school, our intuitive interface empowers you to create professional resumes effortlessly.</p>
          <p>With our limited but carefully selected template options, you can be confident that your resume will stand out from the crowd.</p>
          <p>Join us today and kickstart your professional journey with confidence</p> 
      </div>
    </div>
    
  
  
    <div id="button_container">
      <button class="button2" routerLink="/start">Get Started</button>
    </div>
  
  </div>